.about-page{
    display: flex; 
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    height: 80vh;
    flex-direction: column;
  }

  .right{

      padding-top: 5%;
      padding-left: 0%;
    
  }
  .left{
    padding-top: 1%;
    
  }
  .Button{
    padding: 2%;
  }

  .main-btns .btn {
    margin: 6px;
  }
  .scroll-button {
    float: right;
    margin: 30px;
  }
  .bottom{
    height: 30vh;
  }
  @media only screen and (min-width: 960px) {
    .about-page {
      flex-direction: row;
      height: 65vh;
    }
    .left{
      justify-items: center;
      padding-top: 10%;
    }
    .right{
      padding-left: 5%;
      
      padding-top: 15%;
    }
    .scroll-button {
      float: right;
      margin: 50px;
    }
    .bottom{
      height: 30vh;
    }
  }