.about-page{
    display: flex; 
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    height: 120vh;
    justify-content: center;
    flex-direction: column;
  }

  .right{

      padding-top: 5%;
      padding-left: 0%;
    
  }
  .left{
    padding-top: 1%;
  }
  .Button{
    padding: 2%;
  }


  @media only screen and (min-width: 960px) {
    .about-page {
      flex-direction: row;
      height: 100vh;
    }
    .left{
      justify-items: center;
      padding-top: 10%;
    }
    .right{
      padding-left: 5%;
      
      padding-top: 20%;
    }
  }