.about-page {
  display: flex;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 1%;
 
  
}

.right {
  padding-top: 5%;
  padding-left: 0%;
  width: 50%;
  
}   


@media only screen and (max-width:700px) {

    .left{
       margin-top: 60%;
    }
    .right{
      width: 100%;
    }
    .codingimg img {
    max-width: 50% !important;
  }
 

}

@media only screen and (max-width: 1385px) {
  .btn {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
    margin-top: 4px;
  }
}

@media only screen and (min-width: 1385px) {
  .about-page {
    flex-direction: row;
    height: 65vh;
    justify-content: center;
  }

  .left {
    width: 60%;
    padding-top: 10%;
    justify-content: center;
  }
  .right {
    padding-left: 5%;
    padding-top: 15%;
    width: 60%;
  }
}
    .scroll-button {
      float: right;
      margin: 50px;
      margin-top: 150px;
    }
    .bottom{
      height: 30vh;
    }
  